* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

/* ESTILIZAÇÃO DO HEADER */

header {
    height: 120px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-left: 80px; */
    /* margin-right: 80px; */
    /* background-color: tomato; */
}

.input-container {
    width: 65%;
    /* background-color: var(--background-color); */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    border: solid 5px var(--strong-color);
    border-radius: 15px;
}

.magnifier {
    height: 35px;
    width: 35px;
}
#username {
    padding: 5px;
    width: 90%;
    border: none;
    font-size: 1.2rem;
    background-color: var(--background-color);
}
#username:focus {
    border: none;
    outline: none;
}
#username::placeholder {
    font-size: 1.2rem;
}

/* ESTILIZAÇÃO DO HEADER */

/**********************************************************/

/* ESTILIZAÇÃO DO MAIN */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.content-container {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 360px;
    width: 270px;
    padding: 65px;
    gap: 30px;
    /* border: solid 2px var(--light-color); */
    border-radius: 10px;
    transition: ease 0.7s;
    background-color: var(--light-color);
}
.user-card:hover {
    transform: scale(1.08);
    box-shadow: 12px 12px 4px rgb(13, 13, 13, 0.4);
}
.user-icon {
    height: 150px;
    width: 150px;
    border: solid 2px var(--strong-color);
    border-radius: 10px;
    background-color: black;
}
.user-name {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
}

/* ESTILIZAÇÃO DO MAIN */

footer {
    height: 80px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
}
#button {
    background-color: var(--default-color);
    color: var(--background-color);
    border: solid 2px var(--strong-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

@media (max-width: 1075px) {
    /* ESTILIZAÇÃO DO HEADER */

    header {
        gap: 20px;
    }

    /**********************************************************/

    /* ESTILIZAÇÃO DO MAIN */

    .content-container {
        height: fit-content;
        gap: 40px;
    }

    .user-card {
        height: 260px;
        width: 170px;
        gap: 24px;
        transition: none;
    }

    .user-card:hover {
        transform: none;
        box-shadow: none;
    }

    .user-icon {
        height: 130px;
        width: 130px;
    }
}

@media (max-width: 425px) {
    /* ESTILIZAÇÃO DO HEADER */

    header {
        padding: 30px;
    }

    .input-container {
        width: 100%;
    }
    
    .header-image {
        display: none;
    }

    /**********************************************************/
}