* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO DO HEADER */

header {
    height: 120px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
}

.input-container {
    width: 65%;
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    border: solid 5px #C4C4C4;
    border-radius: 15px;
}

.magnifier {
    height: 35px;
    width: 35px;
}
#username {
    padding: 5px;
    width: 90%;
    border: none;
}
#username:focus {
    border: none;
    outline: none;
}

/* ESTILIZAÇÃO DO HEADER */

/**********************************************************/

/* ESTILIZAÇÃO DO HEADER */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.content-container {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 320px;
    width: 270px;
    padding: 65px;
    gap: 30px;
    background-color: #C4C4C4;
}
.user-icon {
    height: 150px;
    width: 150px;
    background-color: black;
}

/* ESTILIZAÇÃO DO HEADER */

footer {
    height: 50px;
}