main {
    display: flex;
    height: 100vh;
}
.content-container {
    display: flex;
}
.repos-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.user-icon {
    height: 400px;
    width: 400px;
}