body {
    background-color: var(--background-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.repos-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow: scroll;
    gap: 20px;
    font-size: 1.2rem;
}
.repos-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
  }
  
.repos-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.repos-link {
    color: var(--default-color);
    /* font-size: 1.2rem; */
}
.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 420px;
    gap: 10px;
    font-size: 1.2rem;
}
.user-icon {
    height: 400px;
    width: 400px;
    border: solid 2px var(--strong-color);
    border-radius: 10px;
}

/* FOOTER */

footer {
    height: 80px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: tomato; */
}
#back-button {
    background-color: var(--default-color);
    border: solid 2px var(--strong-color);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
#back-button a {
    color: var(--background-color);
    font-size: 1.2rem;
}
